# Environment variables
FRONTEND_URL=http://localhost:3000

#Firebase configurations
FIREBASE_PROJECT_ID=place_holder
FIREBASE_PRIVATE_KEY=place_holder
FIREBASE_CLIENT_EMAIL=place_holder

# Database configurations
POSTGRES_USER=place_holder
POSTGRES_PASSWORD=place_holder
POSTGRES_DB=domidata
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Formato: postgresql://user:password@host:port/db
# Url de conexão com o banco de dados
DATABASE_URL=postgresql+asyncpg://place_holder:place_holder@db:5432/domidata

# Chat AI Agent
OPENAI_API_KEY=place_holder
PREDICTION_DATA_DIR=prediction-service/src/output
